<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VentasApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="left: 0;">TiendaApp</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
            </div>
        </nav>
    </header>
    <div class="container-fluid" >
        <div class="row" height="100%">
            <aside class="col-2 bg-info">
                <nav class="nav flex-column">
                    <a class="nav-link text-light" asp-controller="Home" asp-action="Index">Dashboard</a>
                    <a class="nav-link text-light" asp-controller="Tiendas" asp-action="Index">Tiendas</a>
                    <a class="nav-link text-light" asp-controller="Categorias" asp-action="Index">Categorías</a>
                    <a class="nav-link text-light" asp-controller="Productos" asp-action="Index">Productos</a>
                    <a class="nav-link text-light" asp-controller="Ventas" asp-action="Index">Ventas</a>
                </nav>
            </aside>
            <main role="main" class="col-10 bg-light vh-100">
                @RenderBody()
            </main>
        </div>
        
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - VentasApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>